body {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-container {
    background: url('images\ 2/pic_1.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 44% 40%;
}


.header-button {
    background-color: #c271ff;
    border-radius: 5rem;
}


.menu-open {
    display: none;
}

.menu-open-button {
    display: none;
}

.smile {
    width: 3rem;
    min-height: 2.5rem;
    background-image: url('images\ 2/smile_off.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[class^='holberton_school-icon-'],
[class*='holberton-school-icon-'] {
    font-family: 'holberton_school-icon'!important;
    font-size: 3rem;
}

.holberton_school-icon-menu:before {
    content: "\e911";
    display: none;

}

.logo {
    width: 10rem;
    min-height: 2.5rem;
    background-image: url('images\ 2/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav {
    min-width: 8rem;
}

.navbar-item {
    text-align: center;
    right: 0;
}

.header-title h1 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;
    margin-top: 8rem;
}

.header-content {
    margin-top: 6rem;
}

.header-content-subtitle {
    font-family: 'Source Sans Pro Light', sans-serif;
}

.header-content-subtitle span {
    font-family: 'Source Sans Pro Bold', sans-serif !important;
    font-weight: bold;
    color: #c271ff;
}

.img {
    width: 10rem;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10rem auto;
}

#p1 {
    background-image: url('images\ 2/profile_1.jpg');
}

#p2 {
    background-image: url('images\ 2/profile_2.jpg');
}

#p3 {
    background-image: url('images\ 2/profile_3.jpg');
}

#p4 {
    background-image: url('images\ 2/profile_4.jpg');
}

@media screen and (max-width: 565px) {
    .navbar-nav {
        margin: auto;
    }
}

@media only screen and (max-width: 480px) {

    .menu-open-button {
      display: flex;
      position: relative;
      color: white;
      cursor: pointer;
      transition: transform .3s ease;
    }

    .holberton_school-icon-menu:before {
        display: block;
        content: "\e911";
    }

    .navbar-header {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 15rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }

    .navbar-nav {
        display: none;
        transition: all .3s;
        height: 0rem;
    }

  
    .menu-open-button:hover {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transition-duration: .3s;
    }
  
    .menu-line {
        display: block;
        background: white;
        width: 1.5rem;
        height: .15rem;
        margin: .15rem;
    }
  
    .menu-line-2 {
      width: 1rem;
    }
  
    li .nav-item {
        display: flex;
        width: 7.5rem;
        height: 3.5rem;
        margin: .4rem;
        justify-content: center;
        align-items: center;
    }
    .menu-open:checked ~ .navbar-nav {
        display: block;
        max-height: 300px;
    }

  }